<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RsaDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>      <!--注意这里是filter，不要配置成servlet -->
		<filter-name>CharactorFilter</filter-name>    <!--过滤器名称 -->
		<filter-class>com.filter.CharactorFilter</filter-class>  <!--过滤器的完整类名 -->
		<init-param>   <!--初始化参数 -->
			<param-name>encoding</param-name>  <!--参数名称 -->
			<param-value>utf-8</param-value>   <!--参数值 -->
		</init-param>
	</filter>
	<filter-mapping> <!--过滤器映射 -->
		<filter-name>CharactorFilter</filter-name><!--过滤器名称 -->
		<url-pattern>/*</url-pattern><!--URL映射，给所有页面处理乱码 -->
	</filter-mapping>
  <servlet>
    <description></description>
    <display-name>JieMiServlet</display-name>
    <servlet-name>JieMiServlet</servlet-name>
    <servlet-class>com.JieMiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JieMiServlet</servlet-name>
    <url-pattern>/jiemi.do</url-pattern>
  </servlet-mapping>
</web-app>